In [1]:
a:str = "Aliyan"
print(type(a))

<class 'str'>

In [2]:
a:str= """My name is 
muhammad aliyan. I am 20 years old.
I am a student of CS in university of lahore."""
print(a)

My name is
muhammad aliyan. I am 20 years old.
I am a student of CS in university of lahore.

In [4]:
name:str = "noor"
print(name[0])

n

In [5]:
for x in name:
    print(x)

n
o
o
r

In [6]:
name:str = "Muhammad Aliyan Nadeem"
print(len(name))

22

In [8]:
print("noor" in name)

False

In [12]:
if "Muhammad" in name:
    print(True)

True

In [13]:
print("Usama" not in name)

True

##### *Slicing*

In [24]:
name:str = "Muhammad"
print(name[-6:-2])

hamm

In [25]:
print(name.upper())

MUHAMMAD

In [26]:
print(name.lower())

muhammad

In [27]:
name:str = " Muhammad "
print(name.strip())

Muhammad

In [28]:
print(name.replace("m","a"))

 Muhaaaad

In [32]:
name:str = "Muhammad, Aliyan, Nadeem"
print(name.split(","))

['Muhammad', ' Aliyan', ' Nadeem']

In [33]:
name :str= "Aliyan"
txt :str= "My name is {}"
print(txt.format(name))

My name is Aliyan

#### *Methods*

In [34]:
name:str = "Muhammad Aliyan"

In [35]:
print(name.capitalize())

Muhammad aliyan

In [36]:
print(name.casefold())

muhammad aliyan

In [40]:
print(name.count("Aliyan"))

1

In [41]:
print(name.encode())

b'Muhammad Aliyan'

In [43]:
print(name.endswith("a"))

False

In [45]:
print(name.find("yan"))

12

In [46]:
print(name.index('a'))

3

In [47]:
print(name.isalnum())
print(name.isalpha())
print(name.isascii())
print(name.isdecimal())
print(name.isdigit())
print(name.islower())
print(name.isupper())

False
False
True
False
False
False
False